@import "colors";

.onetodo {
  display: flex;
  justify-content: space-between;
  background-color: $white;
  width: 100%;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  text-align: left;
  align-items: center;
  color: $black;
  & p {
    padding-left: 0.5rem;
  }
  & .buttons {
    padding: 0 0.5rem;
    & .icon {
      border: none;
      background-color: $white;
      margin: 2px;
      padding: 1px 3px;
      font-size: 1.5rem;
      &-check {
        &:hover {
          color: $green;
        }
      }
      &-trash {
        &:hover {
          color: $red;
        }
      }
    }
  }
}

.facut {
  text-decoration: line-through;
  display: flex;
  justify-content: space-between;
  background-color: $white;
  width: 100%;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  text-align: left;
  align-items: center;
  color: $black;
  & p {
    padding-left: 0.5rem;
  }
  & .buttons {
    padding: 0 0.5rem;
    & .icon {
      border: none;
      background-color: $white;
      margin: 2px;
      padding: 1px 3px;
      font-size: 1.5rem;
      &-check {
        &:hover {
          color: $green;
        }
      }
      &-trash {
        &:hover {
          color: $red;
        }
      }
    }
  }
}
